<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Portfolio</title>
    <meta name="description" content="A portfolio of my work" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  {% extends 'layout.html' %} {% block content %}
  <section class="header">
    <h1>Python Developer</h1>
    <p>A short one-liner about your love of coding.</p>
    <img
      src="https://cdn.pixabay.com/photo/2016/11/29/13/14/attractive-1869761_1280.jpg"
      alt="Headshot of myself"
    />
  </section>
  <section id="about">
    <h2>About Me</h2>
    <p>
      Pastry wafer chocolate cake caramels. Gummi bears pudding sugar plum
      macaroon. Cake tart apple pie soufflé sweet sweet. Topping bear claw lemon
      drops gingerbread biscuit pudding fruitcake icing chocolate bar.
    </p>
    <div id="triangle1"></div>
    <div id="triangle2"></div>
  </section>
  <section id="skills">
    <i class="fas fa-laptop-code"></i>
    <h2>Skills</h2>
    <ul>
      <li>Python</li>
      <li>Flask</li>
      <li>SQLAlchemy</li>
      <li>GitHub</li>
      <li>Visual Studio Code</li>
    </ul>
  </section>
  <section id="projects">
    <div id="triangle3"></div>
    <i class="fas fa-file-code"></i>
    <h2>Projects</h2>
    <div id="project-list">
      <div id="project1" class="a-project">
        <h3>Project Title</h3>
        <a href="#" class="github-btn">
          <i class="fab fa-github"></i>
          View on GitHub
        </a>
        <p>
          Pastry wafer chocolate cake caramels. Gummi bears pudding sugar plum
          macaroon.
        </p>
        <p>
          Skills: Pastry wafer chocolate cake caramels. Gummi bears pudding
          sugar plum macaroon.
        </p>
      </div>
      <div id="project2" class="a-project">
        <h3>Project Title</h3>
        <a href="#" class="github-btn">
          <i class="fab fa-github"></i>
          View on GitHub
        </a>
        <p>
          Pastry wafer chocolate cake caramels. Gummi bears pudding sugar plum
          macaroon.
        </p>
        <p>
          Skills: Pastry wafer chocolate cake caramels. Gummi bears pudding
          sugar plum macaroon.
        </p>
      </div>
      <div id="project3" class="a-project">
        <h3>Project Title</h3>
        <a href="#" class="github-btn">
          <i class="fab fa-github"></i>
          View on GitHub
        </a>
        <p>
          Pastry wafer chocolate cake caramels. Gummi bears pudding sugar plum
          macaroon.
        </p>
        <p>
          Skills: Pastry wafer chocolate cake caramels. Gummi bears pudding
          sugar plum macaroon.
        </p>
      </div>
      <div id="project4" class="a-project">
        <h3>Project Title</h3>
        <a href="#" class="github-btn">
          <i class="fab fa-github"></i>
          View on GitHub
        </a>
        <p>
          Pastry wafer chocolate cake caramels. Gummi bears pudding sugar plum
          macaroon.
        </p>
        <p>
          Skills: Pastry wafer chocolate cake caramels. Gummi bears pudding
          sugar plum macaroon.
        </p>
      </div>
    </div>
    <div id="triangle4"></div>
  </section>
  <section id="contact">
    <i class="fas fa-paper-plane"></i>
    <h2>Contact Me</h2>
    <p>
      Pastry wafer chocolate cake caramels. Gummi bears pudding sugar plum
      macaroon. Cake tart apple pie soufflé sweet sweet. Topping bear claw lemon
      drops gingerbread biscuit pudding fruitcake icing chocolate bar.
    </p>
    <p>
      <i class="fas fa-envelope"></i>
      my_email@email.com
    </p>
  </section>
  {% endblock %}
</html>
